<!DOCTYPE html>
{% load static %}
{% load filters %}
<link rel="stylesheet" type="text/css" href="{% static 'sudoku/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku</title>
</head>
<body>
  <form id="sudoku_entry" method="POST" action="{% url 'sudoku:solve' %}">
  {% csrf_token %}
    <table>
      {% for l in "ABCDEFGHI" %}
      <tr>
        {% for n in "012345678" %}
        <td>
          <input id="{{l}}{{n}}" type="text" name="{{l}}{{n}}" value="{{ grid|letter:l|number:n }}" maxlength="1" size="1" class="{{ original|letter:l|number:n }}">
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </form>
  <div class="button_bar">
    <button onclick="location.href='{% url 'sudoku:index' %}'">New Sudoku</button>
    <button form="sudoku_entry">Submit</button>
    <button onclick="location.href='{% url 'sudoku:test' %}'">Test Sudoku</button>
  </div>
</body>
</html>