{% extends 'base.html' %}
{% load filters %}

{% block scripts %}
{% endblock scripts %}

{% block title %}Game{% endblock title %}

{% block content %}
    {% if game_list.count > 0 %}
        {% for game in game_list %}
            <div class="game_listing">
                <h3>{{ game.game_name }}</h3>
                <button onclick="location.href='{% url 'game:start' game.game_name %}'" class="game_listing__button">Start</button>
            </div>
        {% endfor %}
    {% else %}
        <p>No games are available.</p>
    {% endif %}
{% endblock content %}