{% extends 'base.html' %}
{% load filters %}

{% block scripts %}
{% endblock scripts %}

{% block title %}Game{% endblock title %}

{% block content %}
    {% if game_list.count > 0 %}
        <ul>
        {% for game in game_list %}
            <li><h3>{{ game.game_name }}</h3><button onclick="location.href='{% url 'game:start' game.game_name %}'" class="button-89">Start</button></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No games are available.</p>
    {% endif %}
{% endblock content %}